<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RecProgram.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RecProgram.Properties.Settings>
            <setting name="設定日期年" serializeAs="String">
                <value>2021</value>
            </setting>
            <setting name="設定日期月" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="設定日期日" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="設定時間時" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="設定時間分" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="已設定" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="設定時間秒" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="自動開機" serializeAs="String">
                <value>False</value>
            </setting>
        </RecProgram.Properties.Settings>
    </userSettings>
</configuration>